.plazoContainer{
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    height: 85px;
}

.plazoLabelContainer {
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.btnsContainer {
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 65%;
}

.InputAlert {
    /* background-color: blueviolet; */
    position: absolute;
    top: 46%;
}

.label1 {
    background-color: blueviolet;
    position: absolute;
    left: 41.2%;
    top: 47%;
}

.label2 {
    background-color: blueviolet;
    position: absolute;
    left: 49.1%;
    top: 47%;
}

.label3 {
    background-color: blueviolet;
    position: absolute;
    left: 57.1%;
    top: 47%;
}

.label1, .label2, .label3 {
    height: 4%;
    width: 2%;
    text-align: center;
    border-radius: 50%;
} 