.creditContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.creditView {
  background-color: aquamarine;
  border-radius: 10px;
  height: 90%;
  width: 30%;
}